:root {
  --gradient: linear-gradient(45deg, #d946ef, #8b5cf6, #00d2ff);

  --color-pink: #d946ef;
  --color-purple: #8b5cf6;
  --color-cyan: #00d2ff;
}
/* ==========================================

        BLOCO 1: MOBILE (0px até 767px)

   ========================================== */

.card {
  height: 280px;
  width: 330px;
  background-color: #fbfbfc;
  border: 1px solid #e4e4e7;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.icon-card-how {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px ;
  border-radius: 100%;
  background-image: var(--gradient);
  margin-bottom: 30px;
}
.title-card-how {
  display: flex;
  justify-content: start;
  font-size: 0.8em;
  width: 100%;
}
.subtitle-card {
  width: 100%;
  margin-bottom: 10px;
  text-align: start;
}
/* ==========================================

        BLOCO 2: SETUP & TABLET (768px +)

   ========================================== */
@media (min-width: 1024px) {
  .card {
    height: 350px;
    width: 400px;
  }
  .icon-card-how {
    width: 90px;
    height: 90px;
  }
  .title-card-how {
    font-size: 17px;
    width: 100%;
  }
}
