/* ==========================================

        BLOCO 1: MOBILE (0px até 1024px)

   ========================================== */
.logo-memora {
  width: 100%;
  background-color: #0f172a;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-height: 65px;
  padding: 23px 15px;
  & img {
    width: 110px;
    height: auto;
  }
}
.body-createEvent {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante altura mínima de 100% da tela */
}
.main {
  flex: 1;
  width: 100%;
  padding: 20px 0px;
  background-color: #0f172a;
  color: #0f172a;
}
.container {
  width: 85%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
  gap: 30px;
}
.title-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-title {
  text-align: center;
  font-size: 1.2em;
}
.main-subtitle {
  text-align: center;
  font-size: 1.1em;
  width: 100%;
  margin: 0px auto;
  color: #94a3b8;
}

/* ========== Cards ========== */
.card-cadastro {
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.card-register {
  background: #1e293b;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
.title-card {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 15px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.subtitle-card {
  font-size: 0.8em;
  padding-bottom: 20px;
}
.title-icon {
  padding-right: 10px;
}
.text-title {
  font-weight: 600;
  color: white;
  font-size: 1.3em;
}

/*  ====== Button ===== */
.area-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.card-register-plan {
  background: linear-gradient(
    90deg,
    rgba(168, 85, 247, 0.1) 0%,
    rgba(6, 182, 212, 0.1) 100%
  );

  border: 1px solid rgba(168, 85, 247, 0.3);
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
}
.area-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-gradient {
  background-image: linear-gradient(45deg, #a855f7 0%, #06b6d4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}
.title-plan {
  font-size: 0.5em;
  & h1 {
    margin: auto 0px;
  }
}

.price-plan {
  font-size: 0.5em;
  & h1 {
    margin: auto 0px;
  }
}

.button-create {
  width: 100%;

  & button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}
.security {
  font-size: 0.8em;
  text-align: center;
  color: #94a3b8;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
/* ==========================================

        BLOCO 2: SETUP & TABLET (768px +)

   ========================================== */
@media (min-width: 1024px) {
  .main {
    padding: 30px 0px;
  }
  .container {
    max-width: 1280px;
    width: 100%;
    margin: 0px autopx;
    gap: 30px;
  }
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-title {
    font-size: 1.5em;
  }
  .main-subtitle {
    font-size: 1.1em;
    margin: 0px auto;
  }
  .card-cadastro {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .card-register {
    width: 35%;
  }
  .title-card {
    display: flex;
  }
  .input-duo {
    display: flex;
    gap: 10px;
  }
  .button-create {
    display: flex;
    justify-content: center;
    & button {
      width: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
  }
}
