/* src/styles/global.css */

/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* Reset Básico: Tira margens e paddings de tudo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Configurações do corpo do site */
body {
  font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif; /* Fonte padrão do sistema */
  background-color: #e4e4e4; /* Cor de fundo escura (Dark Mode) */
  color: #4e4c4c; /* Texto branco */
  font-weight: 400;
  -webkit-font-smoothing: antialiased; /* Deixa a fonte mais nítida */
}

/* Tira o sublinhado dos links */
a {
  text-decoration: none;
  color: inherit;
}

/* Botões com cursor de clique */
button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  background-image: var(--gradient);
}
