/* src/styles/global.css */

/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Reset Básico: Tira margens e paddings de tudo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ROOT */

:root {
  font-family: "Poppins", sans-serif !important;
  --gradient: linear-gradient(135deg, #7d49f2, #06b6d4);
  --color-purple: #7d49f2;
  --color-cyan: #06b6d4;
}

/* Configurações do corpo do site */
body {
  font-family: 'Poppins', sans-serif !important;
  color: #4e4c4c; /* Texto branco */
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; /* Deixa a fonte mais nítida */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  margin-bottom: 1rem;
}

/* Tira o sublinhado dos links */
a {
  text-decoration: none;
  color: inherit;
}

/* Botões com cursor de clique */
button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  background-image: var(--gradient);
}
footer {
  background-color: #020617; /* Quase preto total */
  color: #64748b; /* Texto bem discreto */
  padding: 40px 0;
  text-align: center;
  border-top: 1px solid #1e293b;
}
