/* src/styles/global.css */

/*Imports*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* Reset Básico: Tira margens e paddings de tudo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ROOT */

:root {
  --gradient: linear-gradient(135deg, #7d49f2, #06b6d4);

  --color-purple: #7d49f2;
  --color-cyan: #06b6d4;
}

.text-gradient {
  background: linear-gradient(90deg, #a855f7 0%, #06b6d4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: inline-block;
}
.btn-primary {
  background: linear-gradient(90deg, #a855f7 0%, #06b6d4 100%);
  color: #ffffff;
  border: none;
  padding: 12px 32px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 15px rgba(168, 85, 247, 0.4);
}
.btn-primary:hover {
  transform: translateY(-2px); /* Sobe um pouquinho */
  box-shadow: 0 6px 20px rgba(168, 85, 247, 0.6); /* Brilha mais */
}
.bg-base {
  background-color: #0f172a; /* Slate-900 */
}
.bg-darker {
  background-color: #020617; /* Slate-950 (Quase preto total) */
}
.bg-surface {
  background-color: #1e293b; /* Slate-800 */
}

/* Configurações do corpo do site */
body {
  font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif; /* Fonte padrão do sistema */
  color: #4e4c4c; /* Texto branco */
  font-weight: 400;
  -webkit-font-smoothing: antialiased; /* Deixa a fonte mais nítida */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  margin-bottom: 1rem;
}

/* Tira o sublinhado dos links */
a {
  text-decoration: none;
  color: inherit;
}

/* Botões com cursor de clique */
button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  background-image: var(--gradient);
}
footer {
  background-color: #020617; /* Quase preto total */
  color: #64748b; /* Texto bem discreto */
  padding: 40px 0;
  text-align: center;
  border-top: 1px solid #1e293b;
}
