:root {
  --gradient: linear-gradient(45deg, #d946ef, #8b5cf6, #00d2ff);

  --color-pink: #d946ef;
  --color-purple: #8b5cf6;
  --color-cyan: #00d2ff;
}
.nav-bar {
  width: 100%;
  height: 75px;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid #d6d6d6;
  color: white;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #0000000d;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.container-header {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-area {
  width: 50%;
  display: flex;
  align-items: center;
}
.button-area {
  width: 50%;
  text-align: end;
}

.btn-header {
  font-size: 14px;
  background-image: var(--gradient);
  background-size: 200% auto;
  background-position: 0% center;
  transition: background-position 0.5s ease, transform 0.2s ease;
  color: white;
  border: none;
}

.btn-header:hover {
  background-position: 100% center;
}
