:root {
  --gradient: linear-gradient(45deg, #d946ef, #8b5cf6, #00d2ff);

  --color-pink: #d946ef;
  --color-purple: #8b5cf6;
  --color-cyan: #00d2ff;
}

/* ========== Hero-Section ========== */
.hero-section {
  width: 100%;
  background-color: white;
  height: 650px;
  padding-top: 90px;
}
.container-main-home {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.hero-left {
  width: 50%;
}
.hero-title-area {
  & h1 {
    line-height: 1.2;
    font-size: 60px;
  }
}
.gradient {
  font-size: 72px;
  font-weight: bold;
  background-image: linear-gradient(45deg, #d946ef, #8b5cf6, #00d2ff);
  background-clip: text;
  color: transparent;
  background-size: 200% 200%;
  animation: gradientAnim 2s ease infinite;
}
@keyframes gradientAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero-subtitle-area {
  color: grey;
  font-weight: 500px;
  font-size: 22px;
  width: 85%;
  margin: 40px 0px;
}
.hero-buttom {
  & button {
    background-image: var(--gradient);
    background-size: 200% auto;
    background-position: 0% center;
    transition: background-position 0.5s ease, transform 0.2s ease;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  & button:hover {
    background-position: 100% center;
  }
}
.hero-right {
  width: 50%;
  text-align: end;
}

/* ========== ShowCase ========== */

.showcase {
  padding: 70px 0px;
  background-color: #fbfbfc;
}

.container-showcase {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.showcase-title {
  text-align: center;
  & h1 {
    font-size: 50px;
  }
}
.showcase-subtitle {
  margin: 0px auto;
  width: 50%;
  text-align: center;
  font-size: 17px;
}

.mockups-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 50px;
}
.cellphone {
  width: 300px;
  height: 570px;
  padding: 15px;
  border-radius: 20px;
  background-color: #e9dbed80;
  border: 2px solid #e4e4e7;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.cell-area {
  transition-duration: 0.6s;
}

.cell-area:hover {
  transform: scale(1.02);
}
.cell-header {
  position: fixed;
  top: 0px;
  left: 0px;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d6d4d4;
}
.post {
  background-color: white;
  border-radius: 10px;
  height: 345px;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 50px;
}
.photo-user {
  display: flex;
  align-items: center;
  padding: 10px;
}
.photo-icon {
  width: 15%;
}
.icon {
  border-radius: 100%;
  background-image: var(--gradient);
  width: 25px;
  height: 25px;
}
.user-name {
  width: 85%;
}
.img-post {
  width: 99%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0px;
  border-radius: 0px 0px 10px 10px;
}
.likes {
  display: flex;
  align-items: center;
}
.like-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: transform 0.2s;
  color: #d946ef;
  text-align: start;
}
.count-like {
  margin-top: -5px;
  font-size: 12px;
}
.like-btn:hover {
  transform: scale(0.8); /* Cresce um pouquinho ao passar o mouse */
  opacity: 0.8;
}

.halfpost {
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: -8px;
}

.cell-navbar {
  position: fixed;
  padding: 10px;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0px 0px 20px 20px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #d6d4d4;
  height: 45px;

  align-items: center;
}

.btn-bar {
  border-radius: 50px;
  background: none;
}

.area-camera {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-image: url("../assets/camera-area.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 20px;
}

.botao-camera {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  border: 5px solid white;
}
.subtitle-cellphone {
  padding: 10px;
  text-align: center;
  color: #71717a;
}

.profile {
  background-color: white;
  border-radius: 10px;
  height: 100%;
}
.area-profile {
  height: 30%;
  width: 100%;
  border-bottom: 1px solid #d6d4d4;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  & h4 {
    text-align: center;
    width: 100%;
  }
}

.photo-profile {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}
.area-profile-photos {
  padding: 10px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.img-profile {
  width: 30%;
  border-radius: 5px;
}

.feature-badge {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & p {
    width: 50%;
    padding: 15px;
    border-radius: 40px;
    border: 1px solid #e4e4e7;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    background-size: 400% 400%;
    animation: gradientAnim 4s ease infinite;
  }
}

/* ========== StepSection ========= */
.steps-section {
  text-align: center;
  padding: 50px 0px;
  background-color: white;
}
.title-card-steps{
  font-size: 50px;
}
.steps-container {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0px;
  
}

/* ========== footer ========== */

footer {
  height: 90px;
  background-color: white;
  border-top: 1px solid #e4e4e7;
  display: flex;
  justify-content: center;
  align-items: center;
}
